.book_details {
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: white;
}

.book-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}

.book-image {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 8px;
}

.book-info h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.book-info p {
  font-size: 1rem;
  margin: 0.4rem 0;
}

.status.available {
  color: green;
  font-weight: bold;
}

.status.not-available {
  color: rgb(186, 8, 14);
  font-weight: bold;
}

.location-box {
  display: inline-block;
  border: 1px solid #000;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #f2f2f2;
}

.library-button {
  display: inline-block;
  margin: 5px 5px 10px 0;
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.library-button-unavailable {
  display: inline-block;
  margin: 5px 5px 10px 0;
  padding: 8px 12px;
  background-color: #d83024;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.library-button:hover {
  background-color: #388e3c;
}

.library-button-unavailable:hover {
  background-color: #c12318;
}

.location-info {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}
