/**   Generation of code for this document was assisted by the use of ChatGPT
      All design decisions and ideas made within previous prototypes and during the
      construction of this final vertical prototype are our own */
.search_button {
    font-size: 2em;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #ccc;
}

.search_button:hover {
    background-color: #7e7a7a;
}

.advanced_search_button {
    font-size: 1em;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #ccc;
}

.advanced_search_button:hover {
    background-color: #7e7a7a;
}